<footer class="section-padding" id="footer">
	<div class="container">
		<div class="footer-wrapper">
			<a href="" class="footer-logo-link">
				<svg class="page-header-icon-logo">
					<use href="/img/symbol-defs.svg#logo"></use>
				</svg>
			</a>
			<nav>
				<ul class="footer-nav-list">
					<li><a href="#about">About us</a></li>
					<li><a href="#tours">Tours</a></li>
					<li><a href="#gallery">Gallery</a></li>
					<li><a href="#travel">Contacts</a></li>
				</ul>
			</nav>
			<div class="footer-inner-wrapper">
				<address class="footer-address">
					<ul class="footer-nav-list">
						<li>
							<a href="tel:+380971231111" target="_blank">+38097-123-11-11</a>
						</li>
						<li>
							<a href="mailto:WondersOfUkraine@gmail.com" target="_blank"
								>WondersOfUkraine@gmail.com</a
							>
						</li>
						<li>
							<a
								href="https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%97%D0%B0%D0%BF%D0%BE%D1%80%D0%BE%D0%B6%D1%81%D0%BA%D0%B0%D1%8F,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+79000/@49.8159894,24.0329708,17z/data=!3m1!4b1!4m6!3m5!1s0x473ae7f0ddccbd07:0x12b5de1a02dafeb8!8m2!3d49.815986!4d24.0355457!16s%2Fg%2F11h3jd0r_p?entry=ttu&g_ep=EgoyMDI1MDYwNC4wIKXMDSoASAFQAw%3D%3D"
								target="_blank"
								>Lviv, Zaporyzhka, 198</a
							>
						</li>
					</ul>
				</address>
				<ul class="footer-list">
					<li>
						<a
							class="hero-list-link"
							href="https://web.telegram.org/a/"
							target="_blank"
						>
							<svg class="hero-list-icon">
								<use href="/img/symbol-defs.svg#telegram"></use>
							</svg>
						</a>
					</li>
					<li>
						<a
							class="hero-list-link"
							href="https://www.facebook.com/"
							target="_blank"
						>
							<svg class="hero-list-icon">
								<use href="/img/symbol-defs.svg#facebook"></use>
							</svg>
						</a>
					</li>
					<li>
						<a
							class="hero-list-link"
							href="https://www.instagram.com/"
							target="_blank"
						>
							<svg class="hero-list-icon">
								<use href="/img/symbol-defs.svg#instagram"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<p class="footer-copy">&copy; All Rights Reserved</p>
	</div>
</footer>
