<section class="section-padding" id="gallery">
	<div class="container">
		<h2 class="section-title">Gallery</h2>
		<div class="gallery-swiper swiper">
			<ul class="swiper-wrapper">
				<li class="swiper-slide">
					<picture>
						<source
							media="(max-width: 834px)"
							srcset="
								/img/gallery/first/gallery-first-mob.jpg    1x,
								/img/gallery/first/gallery-first-mob@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 1440px)"
							srcset="
								/img/gallery/first/gallery-first-desk.jpg    1x,
								/img/gallery/first/gallery-first-desk@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 835px)"
							srcset="
								/img/gallery/first/gallery-first-tab.jpg    1x,
								/img/gallery/first/gallery-first-tab@2x.jpg 2x
							"
						/>
						<img
							src="/img/gallery/first/gallery-first-mob.jpg"
							srcset="/img/gallery/first/gallery-first-mob@2x.jpg 2x"
							alt="snow in the forest"
						/>
					</picture>
				</li>
				<li class="swiper-slide">
					<picture>
						<source
							media="(max-width: 834px)"
							srcset="
								/img/gallery/second/gallery-second-mob.jpg    1x,
								/img/gallery/second/gallery-second-mob@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 1440px)"
							srcset="
								/img/gallery/second/gallery-second-desk.jpg    1x,
								/img/gallery/second/gallery-second-desk@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 835px)"
							srcset="
								/img/gallery/second/gallery-second-tab.jpg    1x,
								/img/gallery/second/gallery-second-tab@2x.jpg 2x
							"
						/>
						<img
							src="/img/gallery/second/gallery-second-mob.jpg"
							srcset="/img/gallery/second/gallery-second-mob@2x.jpg 2x"
							alt="party under the stars"
						/>
					</picture>
				</li>
				<li class="swiper-slide">
					<picture>
						<source
							media="(max-width: 834px)"
							srcset="
								/img/gallery/third/gallery-third-mob.jpg    1x,
								/img/gallery/third/gallery-third-mob@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 1440px)"
							srcset="
								/img/gallery/third/gallery-third-desk.jpg    1x,
								/img/gallery/third/gallery-third-desk@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 835px)"
							srcset="
								/img/gallery/third/gallery-third-tab.jpg    1x,
								/img/gallery/third/gallery-third-tab@2x.jpg 2x
							"
						/>
						<img
							src="/img/gallery/third/gallery-third-mob.jpg"
							srcset="/img/gallery/third/gallery-third-mob@2x.jpg 2x"
							alt="the ancient road in the forest"
						/>
					</picture>
				</li>
				<li class="swiper-slide">
					<picture>
						<source
							media="(max-width: 834px)"
							srcset="
								/img/gallery/fourth/gallery-fourth-mob.jpg    1x,
								/img/gallery/fourth/gallery-fourth-mob@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 1440px)"
							srcset="
								/img/gallery/fourth/gallery-fourth-desk.jpg    1x,
								/img/gallery/fourth/gallery-fourth-desk@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 835px)"
							srcset="
								/img/gallery/fourth/gallery-fourth-tab.jpg    1x,
								/img/gallery/fourth/gallery-fourth-tab@2x.jpg 2x
							"
						/>
						<img
							src="/img/gallery/fourth/gallery-fourth-mob.jpg"
							srcset="/img/gallery/fourth/gallery-fourth-mob@2x.jpg 2x"
							alt="the river in the mountain village"
						/>
					</picture>
				</li>
				<li class="swiper-slide">
					<picture>
						<source
							media="(max-width: 834px)"
							srcset="
								/img/gallery/fifth/gallery-fifth-mob.jpg    1x,
								/img/gallery/fifth/gallery-fifth-mob@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 1440px)"
							srcset="
								/img/gallery/fifth/gallery-fifth-desk.jpg    1x,
								/img/gallery/fifth/gallery-fifth-desk@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 835px)"
							srcset="
								/img/gallery/fifth/gallery-fifth-tab.jpg    1x,
								/img/gallery/fifth/gallery-fifth-tab@2x.jpg 2x
							"
						/>
						<img
							src="/img/gallery/fifth/gallery-fifth-mob.jpg"
							srcset="/img/gallery/fifth/gallery-fifth-mob@2x.jpg 2x"
							alt="the lake at the forest"
						/>
					</picture>
				</li>
				<li class="swiper-slide">
					<picture>
						<source
							media="(max-width: 834px)"
							srcset="
								/img/gallery/sixth/gallery-sixth-mob.jpg    1x,
								/img/gallery/sixth/gallery-sixth-mob@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 1440px)"
							srcset="
								/img/gallery/sixth/gallery-sixth-desk.jpg    1x,
								/img/gallery/sixth/gallery-sixth-desk@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 835px)"
							srcset="
								/img/gallery/sixth/gallery-sixth-tab.jpg    1x,
								/img/gallery/sixth/gallery-sixth-tab@2x.jpg 2x
							"
						/>

						<img
							src="/img/gallery/sixth/gallery-sixth-mob.jpg"
							srcset="/img/gallery/sixth/gallery-sixth-mob@2x.jpg 2x"
							alt="the blue lake"
						/>
					</picture>
				</li>
				<li class="swiper-slide">
					<picture>
						<source
							media="(max-width: 834px)"
							srcset="
								/img/gallery/seventh/gallery-seventh-mob.jpg    1x,
								/img/gallery/seventh/gallery-seventh-mob@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 1440px)"
							srcset="
								/img/gallery/seventh/gallery-seventh-desk.jpg    1x,
								/img/gallery/seventh/gallery-seventh-desk@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 835px)"
							srcset="
								/img/gallery/seventh/gallery-seventh-tab.jpg    1x,
								/img/gallery/seventh/gallery-seventh-tab@2x.jpg 2x
							"
						/>
						<img
							src="/img/gallery/seventh/gallery-seventh-mob.jpg"
							srcset="/img/gallery/seventh/gallery-seventh-mob@2x.jpg 2x"
							alt="the pink lake"
						/>
					</picture>
				</li>
				<li class="swiper-slide">
					<picture>
						<source
							media="(max-width: 834px)"
							srcset="
								/img/gallery/eigth/gallery-eigth-mob.jpg    1x,
								/img/gallery/eigth/gallery-eigth-mob@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 1440px)"
							srcset="
								/img/gallery/eigth/gallery-eigth-desk.jpg    1x,
								/img/gallery/eigth/gallery-eigth-desk@2x.jpg 2x
							"
						/>
						<source
							media="(min-width: 835px)"
							srcset="
								/img/gallery/eigth/gallery-eigth-tab.jpg    1x,
								/img/gallery/eigth/gallery-eigth-tab@2x.jpg 2x
							"
						/>
						<img
							src="/img/gallery/eigth/gallery-eigth-mob.jpg"
							srcset="/img/gallery/eigth/gallery-eigth-mob@2x.jpg 2x"
							alt="the ancient castle"
						/>
					</picture>
				</li>
			</ul>
		</div>
		<div class="button-wrapper">
			<button
				class="swap-button"
				type="button"
				data-swipe-gallery="prev"
				data-button-type="gallery"
				id="swipe-gallery-prev"
				disabled
			>
				<svg class="swap-icon left-arrow">
					<use href="/img/symbol-defs.svg#arrow"></use>
				</svg>
			</button>
			<button
				class="swap-button"
				type="button"
				data-swipe-gallery="next"
				data-button-type="gallery"
				id="swipe-gallery-next"
			>
				<svg class="swap-icon">
					<use href="/img/symbol-defs.svg#arrow"></use>
				</svg>
			</button>
		</div>
	</div>
</section>
