<header class="page-header">
	<div class="page-header-wrapper">
		<a href="" class="page-header-logo-link">
			<svg class="page-header-icon-logo">
				<use href="/img/symbol-defs.svg#logo"></use>
			</svg>
		</a>
		<button class="page-header-burger-button" type="button" data-toggle-mobile>
			<svg class="page-header-icon-burger">
				<use href="/img/symbol-defs.svg#burger"></use>
			</svg>
		</button>
		<nav class="page-header-nav">
			<ul class="page-header-nav-list">
				<li><a href="#about" class="page-header-nav-list-link">About us</a></li>
				<li><a href="#tours" class="page-header-nav-list-link">Tours</a></li>
				<li>
					<a href="#gallery" class="page-header-nav-list-link">Gallery</a>
				</li>
				<li>
					<a href="#travel" class="page-header-nav-list-link">Contacts</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
