<section class="hero">
	<h1 class="hero-title">
		Unlock the Wonders of <span class="hero-title-span">Ukraine</span>
	</h1>
	<a href="#" class="hero-link-tours">Our tours</a>
	<ul class="hero-list">
		<li>
			<a
				class="hero-list-link"
				href="https://web.telegram.org/a/"
				target="_blank"
			>
				<svg class="hero-list-icon">
					<use href="/img/symbol-defs.svg#telegram"></use>
				</svg>
			</a>
		</li>
		<li>
			<a
				class="hero-list-link"
				href="https://www.facebook.com/"
				target="_blank"
			>
				<svg class="hero-list-icon">
					<use href="/img/symbol-defs.svg#facebook"></use>
				</svg>
			</a>
		</li>
		<li>
			<a
				class="hero-list-link"
				href="https://www.instagram.com/"
				target="_blank"
			>
				<svg class="hero-list-icon">
					<use href="/img/symbol-defs.svg#instagram"></use>
				</svg>
			</a>
		</li>
	</ul>
</section>
