<div class="mobile-menu">
	<button class="mobile-menu-close-btn" data-toggle-mobile>
		<svg class="mobile-menu-close-icon">
			<use href="/img/symbol-defs.svg#close"></use>
		</svg>
	</button>
	<nav>
		<ul class="mobile-menu-nav-list">
			<li><a class="mobile-menu-nav-list-link" href="">About us</a></li>
			<li><a class="mobile-menu-nav-list-link" href="">Tours</a></li>
			<li><a class="mobile-menu-nav-list-link" href="">Gallery</a></li>
			<li><a class="mobile-menu-nav-list-link" href="">Contacts</a></li>
		</ul>
	</nav>
</div>
