<section class="reviews">
	<div class="container">
		<h2 class="section-title">Reviews</h2>
		<div class="reviews-swiper swiper">
			<ul class="swiper-wrapper">
				<li class="reviews-card-wrapper swiper-slide">
					<div class="reviews-card-header">
						<img
							src="/img/reviews/photos/first-mob.png"
							srcset="/img/reviews/photos/first-mob.png 2x"
							alt="Face of Dmytro"
						/>
						<div class="reviews-card-header-stars-block">
							<p class="reviews-card-header-stars-block-name">Dmitro</p>
							<ul class="reviews-card-header-stars-block-stars-list">
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
							</ul>
						</div>
					</div>
					<p>
						It was an incredible trip and I am very grateful to the organizers
						for the opportunity to learn more about our country
					</p>
				</li>
				<li class="reviews-card-wrapper swiper-slide">
					<div class="reviews-card-header">
						<img
							src="/img/reviews/photos/second-mob.png"
							srcset="/img/reviews/photos/second-mob.png 2x"
							alt="Face of Alisa"
						/>
						<div class="reviews-card-header-stars-block">
							<p class="reviews-card-header-stars-block-name">Alisa</p>
							<ul class="reviews-card-header-stars-block-stars-list">
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
							</ul>
						</div>
					</div>
					<p>
						I really like to travel and try to do it as often as possible. The
						last one was to Lake Synevir and it was very cool, a great route, a
						comfortable bus, delicious food. I will definitely go somewhere else
						with you
					</p>
				</li>
				<li class="reviews-card-wrapper swiper-slide">
					<div class="reviews-card-header">
						<img
							src="/img/reviews/photos/third-mob.png"
							srcset="/img/reviews/photos/third-mob.png 2x"
							alt="Face of Marry"
						/>
						<div class="reviews-card-header-stars-block">
							<p class="reviews-card-header-stars-block-name">Marry</p>
							<ul class="reviews-card-header-stars-block-stars-list">
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
							</ul>
						</div>
					</div>
					<p>
						Great tour. I really liked the atmosphere, professional approach and
						very interesting information
					</p>
				</li>
				<li class="reviews-card-wrapper swiper-slide">
					<div class="reviews-card-header">
						<img
							src="/img/reviews/photos/fourth-mob.png"
							srcset="/img/reviews/photos/fourth-mob.png 2x"
							alt="Face of Fedir"
						/>
						<div class="reviews-card-header-stars-block">
							<p class="reviews-card-header-stars-block-name">Fedir</p>
							<ul class="reviews-card-header-stars-block-stars-list">
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
							</ul>
						</div>
					</div>
					<p>
						We traveled with a company and it was incredible, everyone without
						exception was satisfied and we will definitely go somewhere else
						with you and will recommend it to everyone
					</p>
				</li>
				<li class="reviews-card-wrapper swiper-slide">
					<div class="reviews-card-header">
						<img
							src="/img/reviews/photos/fifth-mob.png"
							srcset="/img/reviews/photos/fifth-mob.png 2x"
							alt="Face of Anastasia"
						/>
						<div class="reviews-card-header-stars-block">
							<p class="reviews-card-header-stars-block-name">Anastasia</p>
							<ul class="reviews-card-header-stars-block-stars-list">
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
							</ul>
						</div>
					</div>
					<p>
						Professional guides, comfortable transport, excellent hotels and
						exciting excursions - it was unforgettable! I recommend this company
						to anyone who wants to get the best experience out of their trip.
					</p>
				</li>
				<li class="reviews-card-wrapper swiper-slide">
					<div class="reviews-card-header">
						<img
							src="/img/reviews/photos/sixth-mob.png"
							srcset="/img/reviews/photos/sixth-mob.png 2x"
							alt="Face of Victoria"
						/>
						<div class="reviews-card-header-stars-block">
							<p class="reviews-card-header-stars-block-name">Victoria</p>
							<ul class="reviews-card-header-stars-block-stars-list">
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
							</ul>
						</div>
					</div>
					<p>
						I felt cozy and comfortable throughout the tour. Would have liked a
						little more free time to explore on my own, but overall was happy
						with the tour.
					</p>
				</li>
				<li class="reviews-card-wrapper swiper-slide">
					<div class="reviews-card-header">
						<img
							src="/img/reviews/photos/seventh-mob.png"
							srcset="/img/reviews/photos/seventh-mob.png 2x"
							alt="Face of Valeriy"
						/>
						<div class="reviews-card-header-stars-block">
							<p class="reviews-card-header-stars-block-name">Valeriy</p>
							<ul class="reviews-card-header-stars-block-stars-list">
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
							</ul>
						</div>
					</div>
					<p>
						I felt cozy and comfortable throughout the tour. Would have liked a
						little more free time to explore on my own, but overall was happy
						with the tour.
					</p>
				</li>
				<li class="reviews-card-wrapper swiper-slide">
					<div class="reviews-card-header">
						<img
							src="/img/reviews/photos/eigth-mob.png"
							srcset="/img/reviews/photos/eigth-mob.png 2x"
							alt="Face of Ilona"
						/>
						<div class="reviews-card-header-stars-block">
							<p class="reviews-card-header-stars-block-name">Ilona</p>
							<ul class="reviews-card-header-stars-block-stars-list">
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
								<li>
									<svg class="icon-star">
										<use href="/img/symbol-defs.svg#star"></use>
									</svg>
								</li>
							</ul>
						</div>
					</div>
					<p>
						I felt cozy and comfortable throughout the tour. Would have liked a
						little more free time to explore on my own, but overall was happy
						with the tour.
					</p>
				</li>
			</ul>
		</div>
		<div class="button-wrapper">
			<button
				class="swap-button"
				type="button"
				disabled
				id="swipe-reviews-prev"
			>
				<svg class="swap-icon left-arrow">
					<use href="/img/symbol-defs.svg#arrow"></use>
				</svg>
			</button>
			<button class="swap-button" type="button" id="swipe-reviews-next">
				<svg class="swap-icon">
					<use href="/img/symbol-defs.svg#arrow"></use>
				</svg>
			</button>
		</div>
	</div>
</section>
