.page-header {
  padding-top: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.page-header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.page-header-icon-logo {
  width: 64px;
  height: 46px;
  fill: #fff;
}
.page-header-icon-burger {
  width: 24px;
  height: 17px;
  stroke: #fff;
}

.page-header-burger-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.page-header-nav {
  display: none;
}

@media screen and (min-width: 835px) {
  .page-header-wrapper {
    padding: 0 32px;
  }

  .page-header-burger-button {
    display: none;
  }
  .page-header-nav-list {
    display: flex;
    gap: 32px;
    font-family: 'Lato';
    align-items: center;
    height: 100%;
  }
  .page-header-nav-list-link {
    font-weight: 700;
    font-size: 18px;
  }
  .page-header-nav {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .page-header-nav-list {
    display: flex;
    gap: 64px;
  }
  .page-header-nav-list-link {
    font-weight: 700;
    font-size: 18px;
  }
}
